// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/*Slider Box */

.slider-box {
  position: relative;
  right: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: map-get($breakpoints, medium)){
    height:93vh;
  }
  @media screen and (max-width: map-get($breakpoints, large)){
    height:75vh;
  }

}

.slider-bg {
  height: 100%;
  width: 100%;
}

.slider-img {
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 150%;
  transition: opacity 4s ease, visibility 4s;
  animation: bg 80s linear infinite;
}

.visible {
  opacity: 1;
  visibility: visible;
  z-index: 1;

}

@keyframes bg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}


/*Gallery*/

.home-gallery {
  position: relative;
}

.home-gallery-title {
  position: relative;
  &.column.row {
    padding: 0;
  }
  background-color: $brand-color;
  height: calcRem(700px);
    @media screen and (max-width: map-get($breakpoints, large)) {
      height: auto;
    }

  .title-01 {
    width: 25%;
    height: calcRem(600px);
    background-color: $light-color;
    position: relative;
    h2 {
      text-transform: uppercase;
      font-weight: 900;
      color: $brand-color;
      font-size: 5rem;
      margin: 0;
      transform: rotate(270deg);
      position: absolute;
      bottom: 11rem;
      right: -8rem;
    }
    @media screen and (max-width: map-get($breakpoints, large)) {
      width: 100%;
      height: auto;
      padding: 6rem 0;
      h2 {
        position: static;
        transform:none;
        text-align: center;
      }
    }
    @media screen and (max-width: map-get($breakpoints, medium)) {
      h2 {
        font-size: 4rem;
      }
    }

  }
  .title-02 {
    h3 {
      position: absolute;
      top: 4rem;
      right: 4rem;
      color: $light-brand-color;
      font-weight: 500;
      line-height: 0.8;
      font-size: 4rem;
      span {
        font-style: italic;
      }
      @media screen and (min-width: map-get($breakpoints, xlarge)) {
        font-size: 5rem;
      }
    }
  }
}

.title-03 {
  h3 {
    position: absolute;
    top: 4rem;
    right: 4rem;
    color: $brand-color;
    font-weight: 500;
    line-height: 0.8;
    font-size: 4rem;
      span {
        font-style: italic;
      }
    }
  }

.title-04 {
  position: relative;
  h3 {
    position: absolute;
    top: -10rem;
    left: 5rem;
    color: $brand-color;
    font-weight: 500;
    line-height: 0.8;
    font-size: 4rem;
      span {
        font-style: italic;
      }
    }
}

.home-gallery-img {
  overflow: hidden;
  line-height: 0;
  img {
    display: block;
    filter: grayscale(0.5);
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.home-gallery-column {
  position: relative;
  min-width: 25%;
  .home-gallery-absolute {

  }
  #col-01 {
    margin-top: calcRem(-100px);
  }
  #col-02 {
    margin-top: calcRem(-395px);
    @media screen and (max-width: map-get($breakpoints, large)) {
      margin-top: 0;
    }
  }
  #col-03 {
    margin-top: calcRem(-215px);
    @media screen and (max-width: map-get($breakpoints, large)) {
      margin-top: 0;
    }
  }
  #col-04 {
    top: 0;
  }
}

.home-yoshi {
  display: flex;
  align-content: stretch;
  @media screen and (max-width: map-get($breakpoints, medium)) {
    flex-wrap: wrap;
    .home-yoshi-img {
      height: 20rem;
    }
  }
}

.home-yoshi-img {
  overflow: hidden;
  background-color: blue;
  height: auto;
  background-image: url('../images/yoshi-final.jpg');
  background-size: cover;
  background-position: center;
}

.home-yoshi-text {
  background-color: $mid-color;
  padding: 4rem !important;
  p {
    color: $dark-color;
    line-height: 2.5;
  }
  a {
    display: inline-block;
    background-color: $brand-color;
    text-transform: uppercase;
    color: $light-color;
    padding: 1rem 3rem;
    margin-top: 3rem;
  }
}

.yoshi-takashima {
  background-color: $brand-color;
  height: 33rem;
  @media screen and (min-width: map-get($breakpoints, xxlarge)) {
    height: 40rem;
  }
  @media screen and (min-width: map-get($breakpoints, large)) and (max-width:  map-get($breakpoints, xlarge)) {
    height: 35rem;
  }
  position: relative;
  h2 {
    font-size: 5rem;
    line-height: 0.8;
    margin: 0;
    text-transform: uppercase;
    color: $light-brand-color;
    font-weight: 900;
    transform: rotate(270deg);
    position: absolute;
    right: calcRem(-165px);
    top: calcRem(198px);
    @media screen and (min-width: map-get($breakpoints, xxlarge)) {
      font-size: 6rem;
      top: calcRem(250px);
    }
  }
}

.hero-index {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    color: $light-brand-color;
    font-weight: 500;
    font-size: 5rem;
    background-color: rgba(0,0,0,0.7);
    padding: 2.2rem;
    line-height: 0.8;
    margin-bottom: 2rem;
  }
  a {
    display: inline-block;
    background-color: $brand-color;
    padding: 1rem 3rem;
    color: $light-color;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0.1s;
    &:hover {
      background-color: $light-brand-color;
    }
  }
}

.arrow-bounce {
  position: absolute;
  z-index: 10;
  left: 48%;
  bottom: 7%;
  i {
    color: $brand-color;
    font-size: 4rem;
    transition: all 0.2s ease-in-out 0.1s;
    &:hover {
      color: $light-brand-color;
    }
  }
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
