.testimonials-box {
  background-color: $mid-color-light;
  padding: 5rem 0 2rem 0;
  @media screen and (max-width: map-get($breakpoints, medium)) {
    padding: 4rem 0.5rem;;
  }
}

.testimonials-row {
  display: flex;
  flex-wrap: nowrap;
  max-width: 45rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
  @media screen and (max-width: map-get($breakpoints, large)) {
    margin: 4rem auto;
  }
  @media screen and (max-width: map-get($breakpoints, medium)) {
    flex-direction: column;
    align-items: center;
    .testimonials-img {
      margin: 0 0 1.6rem 0;
    }
  }
}

.testimonials-img {
  margin-right: 1.6rem;
  @media screen and (max-width: map-get($breakpoints, medium)) {
    flex-basis: auto;
  }
  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
}

.testimonials-content {
  position: relative;
  i {
    font-size: 3rem;
    color: $brand-color;
    opacity: 0.5;
    position: absolute;
    top: 0.3rem;
  }
  .testimonials-text {
    padding-left: 4rem;
    p {
      margin: 0;
      font-weight: 300;
    }
    @media screen and (max-width: map-get($breakpoints, medium)) {
      padding: 0;
      p {
        text-align: center;
      }
    }
  }
  p.testimonials-footer {
    margin-top: 0.4rem;
    color: $brand-color;
  }

}
